body {
	background-color: #404040;
	font-family: 'Lato', sans-serif;
}

#menu {
	width: 1000px;
	padding: 10px 0;
	background-color: #c34f4f;
	text-align: center;
	border-top: 1px solid #751b1b;
	border-bottom: 1px solid #751b1b;
	margin-left: auto;
	margin-right: auto;
}

.option {
	text-align:  center;
	min-width: 50px;
	height: 25px;
	font-size: 18px;
	padding: 10px;
	border-left: 2px dotted #444444;
	opacity: 0.8;
	margin-left: auto;
	margin-right: auto;
}

.option:hover {
	background-color: #000000;
	cursor: pointer;
}

#topbar {
	background-color: #f4b19f;
	color: white;
	margin-top: 20px;
	margin-bottom: 25px;
	height: 400px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#topbar img{
	margin-left: 212px;
	height: 400px;
}


#container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#sidebar {
	float: left;
	width: 148px;
	min-height: 620px;
	padding: 20px;
	background-color: lightgray;
	text-align: center;
	font-size: 18px;
	border-right: 2px dotted #666666;
}

.optionL {
	font-size:18px;
	height:40px;
	padding: 10px;
	border-bottom: 2px dotted #444444;
	color: #101010;
}

.optionL:hover {
	background-color: #f36742;
	color: white;
	cursor: pointer;
}

#content {
	float: left;
	padding: 40px;
	width: 730px;
	background-color: #dedede;
	min-height: 580px;
	text-align: justify;
}

.bigtitle {
	margin-top: 150px;
	text-decoration: none;
	font-size: 32px;
	font-weight: 900;
	letter-spacing: 2px;
	color: #000000;
}

.dottedline {
	height: 5px;
	margin-top: 15px;
	margin-bottom: 20px;
	border-bottom: 2px dotted #444444;
}

.date {
	float: right;
	margin-bottom: 20px;
	font-size: 10px;
	text-decoration: none;
	color: #000000;
	clear: both;
}

.text {
	text-decoration: none;
	color: #000000;
}

#footer {
	clear: both;
	color: white;
	text-align: center;
	padding: 20px;
	font-size: 18px;
	margin-left: auto;
	margin-right: auto;
}

a {
	text-decoration: none;
}

ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block;
}

ol a {
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li {
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #751b1b;
}

ol > li:first-child {
	border-left: 1px dashed #751b1b;
}

ol > li:hover {
	background-color: #cf6969;
}

ol > li:hover > a {
	color: #451717;
}